body {
    background-color:#25272F;
    font-family: helvetica;
    color: white;
    font-weight: bold;
    
}

.tile {
    width: 170px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}

.tile-double {
    width: 390px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}
		h2 {
	    color: #FFFAF0;
		font-size: 1em;
		margin: 0;
		margin-bottom: 0.5em;
		padding: 0.25em;
		font-style: bold;
		text-align: left;
		letter-spacing: 0.2em;
	
		}

/* background colors for the tiles */
.green {
    background-color:#13B2A3;
}

.red {
    background-color:#F16F51;
}

.yellow {
    background-color:#FDB45C; 
}
.blue {
    background-color:#368fbc; 
}

.lightgrey {
    background-color:#F6F6F6;
    color: black;
    font align-content: center
}

.city-image {
    background-image: url("ivo.png");
    font-size: 20pt;
}
.mundo {
    margin-left: 5px;
    font-size: 15pt;
}


#main-container {
   width: 96%;
   
    margin: 2 auto;
}

#users-table {
    margin: 10px auto;
    font-weight:normal;
    width: 100%;
}

#users-table th {
    border-bottom: 1px solid #F6F6F6;
    padding: 2px;
    text-align:center;
}

#users-table td {
    padding: 2px;
    text-align:center;
}


.chart-total {
    font-size: 25pt;
    text-align: left;
}

.event-day {
    font-size: 55pt;
}

.event-hours {
    font-size: 10pt;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}

.tile-list li {
    margin-bottom: 5px;
    margin-left: 10px;
}

ul.tile-list li {
    list-style-type:disc;    
}

ol.tile-list li {
    list-style-type:decimal;   
}

.tile-list a {
    color: white;
    text-decoration:none;
}
   
.tile-list-port li {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
    list-style-type: disc
   
    
}
.tile-list-port a {
    color: black;
   text-decoration: none:
    
}
.event-date {
    margin-top: 40px;
}


